body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition: background-color 10s, rotate 10s;

}

#box1:hover
{
    background-color: blueviolet;
    rotate: 3600deg;
}


#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-duration: 4s;
    animation-name: box2move;
    animation-iteration-count: infinite;
}

@keyframes box2move{

    0%
    {
        margin: 0;
    }
  
    25%
    {
        margin-left: 200px;
    }

    50%
    {
        margin-top: 500px;        
    }

    75%
    {
        margin-left: 0px;

    }

    100%
    {
        margin: 0;

    }

}